<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
      <img src="https://www.facebook.com/photo?fbid=622290965944541&set=a.110863067087336" class="fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Martinez Jonatan Gustavo</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem facilis explicabo est aliquam pariatur voluptatum fugiat minus inventore. Necessitatibus natus odio illo maxime nobis deserunt iste eius, ad ullam quam.</p>
        </span>
    </div>
</div>
