<div class="row">
    <H1>Hard & Soft Skill</H1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
    [percent]="65" 
    [radius]="100" 
    [title]="'Css' "
    [titleColor]="'blue'"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8" 
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="300"></circle-progress>
    </div>  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="65" 
        [radius]="100" 
        [title]="'Html' "
        [titleColor]="'blue'"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8" 
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"></circle-progress>
        </div>  
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
            [percent]="65" 
            [radius]="100" 
            [title]="'Java' "
            [titleColor]="'blue'"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8" 
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="300"></circle-progress>
            </div>  
</div>
