<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primaria</h1>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In optio fuga quisquam eveniet quidem unde illum illo molestiae dolores? Delectus autem, voluptas possimus laborum placeat quos a veritatis rerum tempora.</p>
            <li>
                <h1>Secundaria</h1>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ut dolor perferendis amet, libero voluptas earum mollitia aperiam incidunt temporibus ipsum, impedit veritatis ad beatae hic harum. Inventore, illum officiis?</p>
        </ul>
    </div>
    </div>
    
