<div class="row">
<h1>Experiencia</h1>
<div class="col-lg-11">
    <ul>
        <li>
            <h1>Trabajo</h1>
        </li>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est consequuntur laboriosam iste animi, deserunt corrupti ut quasi velit iure nulla quo accusamus nisi non, facere cumque, atque maxime exercitationem impedit?</p>
        <li>
            <h1>TrabajoB</h1>
        </li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat deleniti omnis minus distinctio nihil hic soluta dolorem provident eos, non esse velit voluptatem. Nihil tenetur quibusdam saepe temporibus molestias exercitationem?</p>
    </ul>
</div>
</div>
